{% extends "base.html" %}
{% load static %}





{% block body %}


        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    {% if product_detail.PRDImage %}
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product_detail.PRDImage.url }}" alt="..." /></div>
                    
                    {% else %}
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static "img/no image.jpg" %}" alt="..." /></div>
                    {% endif %}
                    <div class="col-md-6">

                        {% if product_detail.PRDDiscountPrice > 0 %}
                         <span class="badge green">SALE</span>
                        {% endif %}

                        {% if product_detail.PRDISNew %}
                        <span class="badge blue">NEW</span>
                        {% endif %}

                        {% if product_detail.PRDISBestSeller %}
                        <span class="badge red">Bestseller</span>
                        {% endif %}



                        <h1 class="display-5 fw-bolder">{{product_detail}}</h1>
                        <div class="small mb-1">{{product_detail.PRDCategory}}</div>
                        
                        <div class="fs-5 mb-5">
                            {% if product_detail.PRDDiscountPrice > 0 %}
                                <span>
                                <del>$ {{product_detail.PRDPrice}} </del> 
                                </span>
                                <span>   $ {{product_detail.PRDDiscountPrice}}</span>
                            {% else %}
                                <span>$ {{product_detail.PRDPrice}}</span>
                            {% endif %}
                        </div>
                        <p class="lead">{{product_detail.PRDDesc}}</p>
                        <div class="d-flex">
                             <div class="col-md-2">Quantity:</div>
                                <div class="col-md-3">
                                <select class="form-select form-select-sm" id="qty-cart">
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                  <option value="9">9</option>
                                  <option value="10">10</option>
                                  <option value="11">11</option>
                                  <option value="12">12</option>
                                </select>
                                </div>
                                    <button style="margin-left: 50px;" class="btn btn-outline-dark flex-shrink-0" type="button" value="{{product_detail.PRDSlug }}" id="add-cart">
                                        <i class="bi-cart-fill me-1"></i>
                                        Add to cart
                                     </button>
                        </div>
                        
                        
                    </div>
                </div>
            </div>


        </section>


        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Related products</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for related_product in related_products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            {% if related_product.PRDImage %}
                                <a href="{{related_product.get_absolute_url}}">
                                    <img class="card-img-top" src="{{ related_product.PRDImage.url }}" alt="..." />
                                </a>
                            {% else %}
                                <a href="{{related_product.get_absolute_url}}">
                                    <img class="card-img-top" src="{% static "img/no image.jpg" %}" alt="..." />
                                </a>
                            {% endif %}
                           
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ related_product.PRDName }}</h5>
                                    <!-- Product price-->
                                    {{ related_product.PRDName }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{related_product.get_absolute_url}}">View Product</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>

<script>

$(document).on('click', '#add-cart', function(e) {
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'cart:cart_add' %}',
        data: {
            product_slug: $('#add-cart').val(),  // Use product_slug instead of product_id
            product_qty: $('#qty-cart option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json) {
            document.getElementById("cart_quantity").textContent = json.qty;
        },
        error: function(xhr, errmsg, err) {
            // Handle errors
        }
    });
});



</script>


{% endblock body %}